/* ----------------------
    Common styles
    ----------------------- */

body{
    font-family: 'Poppins', sans-serif;
}

/* ----------------------
    Banner Section
    ----------------------- */

.banner-section{
    width: 1200px;
    margin: 0 auto;
    background-color:#d6d46c;
    border-radius: 30px;
}
.banner-main-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.left-banner-section, .right-banner-section{
    width: 30%;
}
.left-banner-section h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    margin: 0;
    color: #758d47;
}
.left-banner-section p{
    font-size: 14px;
    font-weight: 400;
    margin: 30px 0;
    color: #265c23;
}
.left-banner-section button{
    width: 187px;
    height: 56px;
    border-radius: 5px;
    border: none;
    background-color: #08ab11;
    font-weight: 400;
    font-size: 20px;
    color: #f0ffa0;
    transition: 0.6s;
    cursor: pointer;
}
.left-banner-section button:hover{
    background-color: #ffffff;
    color: #000000;
}
.right-banner-section img{
    width: 450px;
    height: 500px;
}
/* ----------------------
    Blog Section
    ----------------------- */
.blog-section{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 130px;
}
.side-navigation{
    width: 312px;
    height: 312px;
    background-color:#d6d46c;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}
.side-navigation button{ 
    width: 252px;
    height: 64px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    transition: 0.6s;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}
.side-navigation button:hover{
    background-color: #08ab11;
    color: #f0ffa0;
}
/* Colmn grid */
.blog-colum-grid{
    width: 71%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.single-colum{
    border: 1px solid gray;
    border-radius: 10px;
}
.single-colum-top-section img{
    width: 100%;
}
.single-colum-bottom-section{
    padding: 20px;
}
.single-colum-bottom-section button{
    width: 100px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
}
.single-colum-bottom-section span{
    margin-right: 30px;
    color: #161616
}
.single-colum-bottom-section i{
    margin-right: 5px;
}