/* ----------------------
    Common styles
    ----------------------- */

body{
    font-family: 'Poppins', sans-serif;
}

/* ----------------------
    Banner Section
    ----------------------- */

.banner-section{
    width: 1200px;
    margin: 0 auto;
    background-color:#d6d46c;
    border-radius: 30px;
}
.banner-main-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.left-banner-section, .right-banner-section{
    width: 30%;
}
.left-banner-section h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    margin: 0;
    color: #758d47;
}
.small-banner{
    font-size: 14px;
    font-weight: 400;
    margin: 30px 0;
    color: #265c23;
}
.small-banner-responsive{
    display: none;
}
.left-banner-section button{
    width: 187px;
    height: 56px;
    border-radius: 5px;
    border: none;
    background-color: #08ab11;
    font-weight: 400;
    font-size: 20px;
    color: #f0ffa0;
    transition: 0.6s;
    cursor: pointer;
}
.left-banner-section button:hover{
    background-color: #ffffff;
    color: #000000;
}
.right-banner-section img{
    width: 450px;
    height: 500px;
}
/* ----------------------
    Blog Section
    ----------------------- */
.blog-section{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 130px;
}
.side-navigation{
    width: 312px;
    height: 312px;
    background-color:#d6d46c;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}
.side-navigation button{ 
    width: 252px;
    height: 64px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    transition: 0.6s;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}
.side-navigation button:hover{
    background-color: #08ab11;
    color: #f0ffa0;
}
.side-navigation button a{
    text-decoration: none;
    color: #000000;
}
/* Column grid */
.blog-colum-grid{
    width: 71%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.single-colum{
    border: 1px solid gray;
    border-radius: 17px;
}
.single-colum-top-section img{
    width: 100%;
}
.single-colum-bottom-section{
    padding: 20px;
}
.single-colum-bottom-section button{
    width: 100px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
}
.single-colum-bottom-section span{
    margin-right: 30px;
    color: #161616
}
.single-colum-bottom-section i{
    margin-right: 5px;
}
/* new html upcoming grid section */
.single-colum-wrapper{
    width: 100%;
}
.top-match-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.top-match-section img{
    width: 93px;
    height: 56px;
}
.match-time-section{
    margin: 0 30px;
    text-align: center;
}
.match-time-section{
    margin-top: 20px;
}
.match-time-section h2{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.match-time-section p{
    font-size: 16px;
    font-weight: 400;
    color: #4D4D4D;;
}
.view-all-button{
    display: none;
}

/* ----------------------
    Footer Section
    ----------------------- */
.footer-section{
    margin-top: 130px;
    padding: 130px 0;
    background-color: #161616;
    text-align: center;
}
.footer-section h2{
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
}
.footer-section hr{
    width: 80%;
    border: 1px solid gray
}
.bottom-navigation{
    margin-top: 50px;
}
.bottom-navigation ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.bottom-navigation ul li{
    padding: 0 10px;
}
.bottom-navigation ul li a{
    text-decoration: none;
    color: #B9B9B9;
}
.bottom-social-icon{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.bottom-social-icon i{
    color: #B9B9B9;
    font-size: 18px;
    margin: 0 15px;
}

/* ----------------------
    Responsive Section
    ----------------------- */

/* Mobile view */
@media screen and (max-width:576px) {
    .banner-section{
        width: 400px;
    }
    .banner-main-section{
        flex-direction: column;
        justify-content: none;
        align-items: center;
        margin: 0 auto;
    }
    .left-banner-section, .right-banner-section{
        width: 70%;
    }
    .left-banner-section{
        text-align: center;
        margin-top: 30px;
    }
    .left-banner-section h1{
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
        margin: 0;
    }
    .small-banner{
        display: none;
    }
    .small-banner-responsive{
        display: block;
        font-size: 14px;
        font-weight: 400;
        margin: 30px 0;
        color: #265c23;
    }
    .right-banner-section img{
        width: 300px;
        height: 400px;
    }
    .right-banner-section{
        margin-top: 21px;
    }
    .blog-section{
        width: 400px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-top: 24px;
    }
    .side-navigation{
        width: 312px;
        height: 312px;
        background-color:#ffffff;
        border-radius: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;
        justify-items: center;
        align-items: center;
    }
    .side-navigation button{ 
    border-radius: 10px;
    font-size: 20px;
    background-color: #ffffff;
    border: 1px solid #E8E8E8;
    }
    #small-view{
        background-color: #265c23;
        color: #ffffff;
    }
    .blog-colum-grid{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;
    }
    .view-all-button{
        display: none;
    }
    .bottom-navigation ul{
        flex-direction: column;
        align-items: center;
        padding: 0;
        line-height: 50px;
    }
}
/* Tablet view */
@media screen and (min-width:577px) and (max-width:768px) {
    .banner-section{
        width: 700px;
    }
    .banner-main-section{
        padding-top: 30px;
    }
    .left-banner-section h1{
        font-size: 30px;
        line-height: 40px;
    }
    .small-banner{
        display: none;
    }
    .small-banner-responsive{
        display: block;
        font-size: 14px;
        font-weight: 400;
        margin: 30px 0;
        color: #265c23;
    }
    .right-banner-section img{
        width: 300px;
        height: 350px;
    }
    .blog-section{
        width: 700px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .side-navigation{
        width: 100%;
        height: 200px;
        background-color:#ffffff;
        display: flex;
        justify-content: space-between;
    }
    .side-navigation button{ 
        width: 200px;
        border: 1px solid #E8E8E8;
        background-color: #ffffff;
        font-weight: 500;
    }
    #small-view{
        background-color: #265c23;
        color: #ffffff;
    }
    .blog-colum-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .invisible{
        display: none;
    }
    .view-all-button{
        display: block;
        width: 100%;
        text-align: center;
        margin: 50px 0;
    }
    .view-all-button button{
        width: 131px;
        height: 47px;
        padding: 12px 29px;
        border-radius: 5px;
        background-color: #DD0000;
        color: #ffffff;
        border: none;
        font-size: 20px;
        font-weight: 400;
        cursor:pointer;
    }
    .bottom-navigation{
        margin-top: 50px;
        width: 80%;
        margin: 0 10%;
    }
    .bottom-navigation ul{
        flex-wrap: wrap;
    }
}